@model Vaccination.ViewModels.VaccineIndexViewModel

@{
    ViewData["Title"] = "Vacciner";
}
<section class="py-5">

    <div class="row">
        <div class="col-lg-12 mb-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Sök</h3>
                </div>
                <div class="card-body">


                    <form method="get" asp-controller="Vaccine" asp-action="Index">

                        <div class="form-row align-items-center">
                            <div class="col-auto">
                                <input type="text" class="form-control" asp-for="q">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">Sök</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>





    <div class="row">

        @*<form >

                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <label for="SearchWord">Sök:</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" class="form-control" asp-for="SearchWord">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Sök</button>
                    </div>
                </div>

            </form>*@


        <div class="col-lg-12 mb-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Vaccin</h3>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Namn</th>
                                <th scope="col">Leverantör</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vaccine in Model.Vaccines)
                            {
                                <tr>
                                    <td>@vaccine.Name</td>
                                    <td>@vaccine.Supplier</td>
                                    <td><a asp-controller="Vaccine" 
                                           asp-action="Edit" 
                                           asp-route-Id="@vaccine.Id" 
                                           class="btn btn-secondary active" 
                                           role="button" 
                                           aria-pressed="true">Redigera</a></td>
                                </tr>
                            }

                        </tbody>
                    </table>


                </div>
            </div>
        </div>

        <a asp-controller="Vaccine" 
           asp-action="New" 
           class="btn btn-secondary" 
           role="button" 
           aria-pressed="true">
            Lägg till
        </a>


    </div>
</section>